@font-face {
    font-family: 'Josefin';
    font-style: 'normal';
    font-weight: 400;
    src: local(''), url('./fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefin italic';
    font-style: 'normal';
    font-weight: 400;
    src: local(''), url('./fonts/JosefinSans-Italic-VariableFont_wght.ttf') format('truetype');
}