:root {
    --primary: #F7F2F4;
    --primary-darker: #E8E3E5;
    --secondary: #D1C5F4;
    --accent: #9672FF;
    --accent-lighter: #B49CFA;
    --black: #151515;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
}

/*
    Top NavBar
*/

li, a {
    font-family: 'Josefin';
    font-size: 2rem;
    font-weight: 500;
    color: var(--black);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 50px 10%;
    background: var(--secondary);
    height: 15vh;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 50px 13px rgba(132,120,169,0.25);
}

.logo {
    background: none;
    width: 200px;
    height: auto;
}

nav {
    background: none;
    width: 75vw;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    background: none;
}

.nav-links li {
    padding: 0 20px;
    background: none;
    flex-grow: 1;
    text-align: end;
}

.nav-links li a {
    background: none;
    text-decoration: none;
    padding-bottom: 0.25rem;
    display: inline-block;
    position: relative;
    transition: all 150ms ease-in-out;
}

.nav-links li a::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--black);
    transition: all 150ms ease-in-out;
}

.nav-links li a:hover::before {
    width: 100%;
    left: 0;
}

.nav-links li a:is(:link, :active, :visited).active {
    color: var(--accent);
}

.nav-links li a:is(:link, :active, :visited).active::before {
    background-color: var(--accent);
    width: 100%;
    left: 0;
}

#profile-link {
    flex-grow: 2;
}

/*
    Filter Section
*/

#filter {
    position: relative;
    background-color: var(--primary-darker);
    width: 25vw;
    height: 85vh;
    z-index: 0;
    box-shadow: 0px 0px 50px 13px rgba(132,120,169,0.25);

    overflow-x: hidden;

    font-family: 'Josefin';
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    padding: 50px 25px;


    transition: all 500ms ease-in;
}

.filter-header {
    height: 50px;
    width: 100%;
    background: none;
    /*display: flex;
    justify-content: center;
    align-items: baseline;*/
}

.filter-header h1 {
    text-align: center;
    margin: auto;
    background: none;
}

.filter-header img {
    background: none;
    height: 30px;
    width: auto;
    position: absolute;
    top: 50px;
    right: 25px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.filter-header .hidden {
    opacity: 0;
}

.filter-header .hidden:hover{
    opacity: 1;
}

.divider {
    width: 75%;
    height: 4px;
    align-self: center;
    background: var(--black);
}

.ingredients-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: none;
}

.ingredients-section h1 {
    margin: auto;
    background: none;
}

.ingredients-container {
    background: none;
    height: fit-content;
    width: 80%;
    align-self: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
}

.ingredient {
    background: var(--secondary);
    color: var(--black);
    width: fit-content;
    padding: 7.5px 15px;
    border-radius: 10px;

    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.ingredient.active {
    background: var(--accent);
    color: var(--primary);
}

.ingredient:hover {
    background: var(--accent-lighter);
}