:root {
    --primary: #F7F2F4;
    --primary-darker: #E8E3E5;
    --secondary: #D1C5F4;
    --accent: #9672FF;
    --accent-lighter: #B49CFA;
    --black: #151515;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
}

/*
    Top NavBar
*/

li, a {
    font-family: 'Josefin';
    font-size: 2rem;
    font-weight: 500;
    color: var(--black);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 50px 10%;
    background: var(--secondary);
    height: 150px;
    position: fixed;
    z-index: 2;
    box-shadow: 0px 0px 50px 13px rgba(132,120,169,0.25);
}

.logo {
    background: none;
    width: 200px;
    height: auto;
}

nav {
    background: none;
    width: 75vw;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    background: none;
}

.nav-links li {
    background: none;
    flex-grow: 1;
    text-align: end;
}

.nav-links li a {
    background: none;
    text-decoration: none;
    padding-bottom: 0.25rem;
    position: relative;
    transition: all 150ms ease-in-out;
}

.nav-links li a::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--black);
    transition: all 150ms ease-in-out;
}

.nav-links li a:hover::before {
    width: 100%;
    left: 0;
}

.nav-links li a:is(:link, :active, :visited).active {
    color: var(--accent);
}

.nav-links li a:is(:link, :active, :visited).active::before {
    background-color: var(--accent);
    width: 100%;
    left: 0;
}

#profile-link {
    flex-grow: 3;
    float: right;
    margin-right: 50px;
}

/*
    Filter Section
*/

.divider {
    width: 75%;
    height: 4px;
    position: relative;
    align-self: center;
    background: var(--black);
}

#filter {
    position: fixed;
    background-color: var(--primary-darker);
    width: 22.5vw;
    height: calc(100vh - 150px);
    z-index: 1;
    box-shadow: 0px 0px 50px 13px rgba(132,120,169,0.25);
    top: 150px;

    overflow-x: hidden;
    overflow-y: scroll;

    font-family: 'Josefin';
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3vh;
    padding: 50px 25px;



}

.filter-header {
    height: 50px;
    width: 100%;
    background: none;
}

.filter-header h1 {
    text-align: center;
    margin: auto;
    background: none;
}

.filter-header img {
    background: none;
    height: 30px;
    width: auto;
    position: absolute;
    top: 50px;
    right: 25px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.filter-header .hidden {
    opacity: 0;
}

.filter-header .hidden:hover{
    opacity: 1;
}

.ingredients-section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: inherit;
    background: none;
    overflow: visible;
    height: auto;
}

.ingredients-section h1 {
    margin: auto;
    background: none;
}

.ingredient-input-container {
    background: none;
    align-self: center;
    width: 80%;
    height: 45px;
    border: 5px solid var(--black);
    
    padding: 7.5px 15px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    transition: all 250ms ease-in-out;
}

.ingredients-section .ingredient-input-header {
    width: 100%;
    height: 40px;
    background: none;
    position: relative;
    top: -5px;

    display: flex;
    flex-direction: row;;
    justify-content: space-between;
    align-items: center;
}

.ingredients-section .ingredient-input {
    cursor: pointer;
    font-family: 'Josefin';
    color: var(--accent);
    font-size: 1.3rem;
    margin-left: -10px;
    position: relative;
    top: 2.5px;
    width: 90%;
    height: 150%;
    background: none;
    border: none;
    caret-color: var(--black);
}

.ingredients-section .ingredient-input:hover {
    cursor: text;
}

.ingredients-section .ingredient-input:focus {
    outline: none;
}

.ingredients-section .ingredient-input::placeholder {
    color: var(--accent-lighter);
}

.ingredients-section .ingredient-search {
    background: none;
    position: relative;
    right: -10px;
    height: 28px;
    width: auto;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.ingredients-section .ingredient-input-container.extend {
    height: 25vh;
    border-color: var(--accent);
}

.ingredients-section .ingredient-input-container.focus {
    border-color: var(--accent);
}

.ingredients-section .ingredient-search-results {
    position: relative;
    bottom: -7px;
    width: 105%;
    height: inherit;
    
    border-radius: 7px;
    
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.ingredient-search-results .ingredient {
    width: 100%;
    background: var(--secondary);
    color: var(--black);
    text-align: center;
}

.ingredients-container {
    background: none;
    height: fit-content;
    width: 80%;
    align-self: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
}

.ingredient {
    background: var(--accent);
    color: var(--primary);
    width: fit-content;
    padding: 7.5px 15px;
    border-radius: 10px;
    text-align: center;

    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.ingredient:hover {
    background: var(--accent-lighter);
}

/*
    cocktails Section
*/

.cocktails {
    position: absolute;
    z-index: 0;
    right: 0;
    top: 150px;
    width: 77.5vw;
    height: calc(100% - 150px);
    background: var(--primary);



}

.search-bar-container {
    width: fit-content;
    height: 60px;
    position: relative;

    top: 30px;
    left: calc(2.5% + 25px);
    
    background: none;

    display: flex;
    flex-direction: row;
    gap: 15px;
}

.search-bar {
    width: calc(100% - 60px - 25px);
    background: none;
    border: 5px solid var(--black);
    border-radius: 50px;

    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-bar-input {
    background: none;
    font-family: 'Josefin';
    font-size: 2rem;
    color: var(--accent);
    border: none;
    width: 85%;
    overflow: visible;

    position: relative;
    left: 5px;
    top: 2.5px;
}

.search-bar-input:focus {
    outline: none;
}

.search-bar-input::placeholder {
    color: var(--secondary);
}

.search-bar img {
    width: auto;
    height: 90%;
    background: none;
    cursor: pointer;
}

.search-random {
    width: 60px;
    height: 60px;
    border: 5px solid var(--black);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-random img {
    height: 35px;
    width: 35px;
    background: none;
}

.cocktail-container {
    width: 100%;
    /*height: calc(100% - 110px);*/
    height: fit-content;
    position: relative;
    top: 50px;
    left: 0;

    padding: 2.5%;

    background: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    gap: 50px;
}

.cocktail {
    width: 45%;
    min-width: 450px;
    height: 150px;
    padding: 25px;
    background: var(--secondary);
    border-radius: 25px;

    box-shadow: 0px 0px 50px 0px rgba(132,120,169,0.25);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;

    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.cocktail:hover {
    box-shadow: 0px 0px 50px 15px rgba(132,120,169,0.25);
    background: var(--accent-lighter);

}

.cocktail-image {
    height: 100px;
    width: 100px;
    background: rgba(132,120,169,0.25);
    border-radius: 100%;
}

.cocktail-text {
    background: none;
    height: 90%;
    width: 60%;
    color: var(--black);
    font-family: 'Josefin';
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.cocktail-name {
    background: none;
    font-size: 2rem;
    font-weight: 700;
}

.cocktail-info {
    background: none;
    font-size: 1.1rem;
}

.cocktail-info span {
    background: none;
}


/*
    Cocktail section
*/

.cocktail-section {
    width: 65vw;
    position: relative;
    top: 150px;
    margin: 0 auto;
    padding-top: 50px;
    
    background: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.cocktail-section .cocktail-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    gap: 25px;

    background: none;
}

.cocktail-section .cocktail-image {
    background: #151515;
    width: 200px;
    height: 200px;
    border-radius: 50px;
}

.cocktail-section .cocktail-info {
    width: calc(100% - 250px - 50px - 50px);
    height: 100%;
    background: none;
    font-family: 'Josefin';
    color: var(--black);
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cocktail-section .cocktail-info .tags {
    font-size: 1.25rem;
    background: none;
}

.cocktail-section .cocktail-info .name {
    font-size: 3.5rem;
    font-weight: 700;
    background: none;
}

.cocktail-section .cocktail-back {
    background: none;
    height: 50px;
    cursor: pointer;
}


.cocktail-section .ing-ins-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 25px 0;
    width: 100%;
    height: fit-content;
    font-family: 'Josefin';

    background: none;
}

.cocktail-section .ingredients-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.cocktail-section h1 {
    font-size: 2.5rem;
}

.cocktail-section .ingredients {
    margin-left: 50px;
}

.cocktail-section .ing-ins-container .divider {
    width: 5px;
    height: 175px;
    background: var(--black);
    align-self: center;
}

.cocktail-section .instructions-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.cocktail-section .instructions {
    margin-left: 50px;
    list-style: decimal;
}

/*
    Login Section
*/

.login-section {
    width: 100%;
    height: calc(100vh - 150px);
    position: fixed;
    top: 150px;
    z-index: 2;

    background: none;
    backdrop-filter: blur(3px) saturate(100%) brightness(95%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 50%;
    min-width: 800px;
    height: 90%;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
    border-radius: 25px;

    box-shadow: 0px 0px 40px 13px rgba(132,120,169,0.25);
}

.login-icon {
    width: 100px;
    height: auto;
}

.login-field {
    width: 75%;
    height: 15%;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-family: 'Josefin';
    color: var(--black);
}

.login-field p {
    margin-left: 9%;
    background: none;
    font-size: 1.5rem;
}

.login-field input {
    width: 90%;
    height: 70%;
    min-height: 50px;
    align-self: center;
    padding-left: 15px;
    background: none;
    border: 4px var(--black) solid;
    border-radius: 100px;
    font-family: 'Inter';
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--accent);

    transition: all 150ms ease-in-out;
}

.login-field input:focus {
    outline: none;
    border: 4px var(--accent) solid;
}

.login-field input::placeholder {
    color: var(--secondary);
}

.signup-button {
    width: 125px;
    height: 50px;
    font-family: 'Josefin';
    font-size: 1.25rem;
    color: var(--primary);
    border-radius: 25px;
    background: var(--accent);
    border: none;
    cursor: pointer;

    transition: all 150ms ease-in-out;
}

.signup-button:hover {
    color: var(--accent);
    background: none;
    border: 5px solid var(--accent);
}

.login-question {
    color: var(--black);
    font-family: 'Josefin';
    font-size: 1.25rem;
    background: none;
}

.login-span {
    background: none;
    color: var(--black);
    text-decoration: underline;
    cursor: pointer;

    transition: all 150ms ease-in-out;
}

.login-span:hover {
    color: var(--accent);
}